<script setup lang="ts">
import LoginForm from '../components/LoginForm.vue'
</script>

<template>
    <div class="columns-2 gap-0">
    <img class="break-after-column h-[1024px]" src="/images/login-page_bg.png" alt="Login page" />
    <div class="px-14 pt-14 pb-0">
      <LoginForm />
    </div>
  </div>
</template>