<script setup lang="ts">
import { ErrorObject } from '@vuelidate/core';

    defineProps<{ text: string, modelValue: string, type: string, errors: ErrorObject[] }>()
    const emit = defineEmits(['update:modelValue', 'blur'])
    const updateValue = (e: Event) => {
        emit('update:modelValue', (e.target as HTMLInputElement).value)
    }
</script>

<template>
    <div class="text-left">
        <label for="login-email" class="block text-rm font-medium leading-6 text-[#1d1c3f]">{{ text }}</label>
        <div class="relative mt-2 rounded-md shadow-sm">
            <input id="login-email" :type="type" :value="modelValue" @input="updateValue" @blur="$emit('blur')" class="block h-14 w-full rounded-md border-0 py-2 px-4 text-base text-[#1d1c3f] placeholder-opacity-100 ring-2 ring-inset focus:ring-2 focus:ring-inset placeholder:text-gray-400 sm:text-sm sm:leading-6" :class="errors.length ? 'ring-[#f03d3e] focus:ring-[#f03d3e] bg-[#ff0000]/10' : 'ring-[#475e6b] focus:ring-[#2655fb]'" :placeholder="text">
            <div v-if="errors.length" class="mt-2">
                <div class="text-base text-[#f03d3e]" v-for="error of errors" :key="error.$uid">
                    {{ error.$message }}
                </div>
            </div>
        </div>
    </div>
</template>