<script setup lang="ts">
    defineProps<{ text: string, disabled: boolean, color: string }>()
    const emit = defineEmits(['click'])
    const handleClick = (ev: Event) => {
        emit('click', ev)
    }
</script>

<template>
    <button type="button" @click="handleClick" class="block py-2 px-4 h-14 w-full text-base cursor-pointer rounded-md" :class="[color == 'blue' ? 'text-white' : 'text-[#2655fb]', color]" :disabled="disabled">{{ text }}</button>
</template>

<style scoped lang="scss">
.blue {
    background-color: #2655fb;

    &:hover {
        background-color: #1e46d0;
    }
}

.lightblue {
    background-color: #e8edff;

    &:hover {
        background-color: #bac9ff;
    }
}
</style>