<script setup lang="ts">
import FormInput from './FormInput.vue'
import FormButton from './FormButton.vue'

import { reactive, ref } from 'vue'
import { useVuelidate } from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'
import router from '../router'

const loginError = ref(false)

const state = reactive({
  email: '',
  password: ''
})
const rules = {
  email: { required, email }, // Matches state.email
  password: { required }
}

const DB = {
  email: 'test@test.com',
  password: '123456'
}

const v$ = useVuelidate(rules, state)

function handleSubmit(ev: Event) {
  loginError.value = state.email !== DB.email || state.password !== DB.password

  if (!loginError.value) router.push('/logged-in')
}

function handleSignup(ev: Event) {
  router.push('/sign-up')
}
</script>

<template>
  <img class="mb-16" src="/images/logo.svg" alt="Logo" />
  <h1 class="text-left mb-8">Login</h1>
  <p class="text-left mb-12">Login with the data you entered during your registration.</p>
  <FormInput class="mb-6" v-model="state.email" type="email" text="Email" :errors="v$.email.$errors" @blur="v$.email.$touch" />
  <FormInput class="mb-8" v-model="state.password" type="password" text="Password" :errors="v$.password.$errors" @blur="v$.password.$touch" />
  <div class="mb-2 text-[#f03d3e]" v-if="loginError">Worng e-mail or password</div>
  <FormButton class="mb-6" text="Log in" color="blue" :disabled="v$.$invalid" @click="handleSubmit" />
  <a href="#" class="block w-full mb-11 text-right text-[#4d4d4d] text-base font-normal hover:text-[#4d4d4d]">Did you forget your password?</a>
  <div class="mb-12 rounded-md px-14 py-8 border border-[#cacaca] text-left">
    <h2 class="text-black mb-6 text-2xl font-semibold">Sign up</h2>
    <p class="text-[#4d4d4d] mb-11">Login with the data you entered during your registration.</p>
    <FormButton text="Create account" color="lightblue" :disabled="false" @click="handleSignup" />
  </div>
  <div class="flex justify-between text-xs text-[#4d4d4d]">
    <a class="font-normal text-[#4d4d4d] hover:text-[#4d4d4d]" href="#">Cookies</a>
    <a class="font-normal text-[#4d4d4d] hover:text-[#4d4d4d]" href="#">Legal policy</a>
    <span class="italic">Made with love in nowhere</span>
    <span>Copyright 2021</span>
  </div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
